body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    text-align: center;
    min-height: 100vh;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.container {
  
    max-width: 90%;
    min-width: 260px;
    min-height: 70vh;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #333;
    font-size: 1.5em;
}

form {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 90%;
    max-width: 100%;
    height: 420px;
    border: solid red;
}

input {
    text-align: center;
    width: 90%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
}

button {
    height: 50px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 90%;
    margin: 5px;
}

button:hover {
    background: #0056b3;
}

.resultados {
    margin: 20px;

}

.produto {
   
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    padding: 10px;
    
    border-radius: 5px;
    background: #fff;
}

.produto img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.produto-info p {
    margin: 5px 0;
}
#btn-limpar {
    background: #dc3545;
    margin: 5px;
}

#btn-limpar:hover {
    background: #c82333;
}

p {
    font-size: 12px;
}
